
<div class="text-layout">
    <h1>DecimalPipes y porcentaje</h1>
    <p>
        pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">
                {{ ventasNetas  }} <br>
                <i class="pi pi-dollar"></i>
                {{ ventasNetas | number }} <br>
                {{ ventasNetas | number: '1.2-2' }} <br>
                {{ (ventasNetas + 1000000) | number: '1.2-2' }}
        </p-card>
    </div>

        
    <div class="col-4">
        <p-card
        header="Ventas Brutas"
        subheader="del presente año">
        {{ (ventasNetas + 1000000) | currency:'BO':'symbol-narrow':'1.04' }}
        </p-card>
    </div>
  
    <div class="col-4">
        <p-card
        header="Ganacia porcentual"
        subheader="del presente año">
        {{ porcentaje | percent: '2.2-2' }}
        </p-card>
    </div>
</div>