<div class="text-layout">
    <h1>Pipes básicos</h1>
    <p>
        pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
                [subheader]="nombreLower | uppercase">
                {{nombreLower | uppercase}}
        </p-card>
        
    </div>
    <div class="col-4">
        <p-card header="lowercase"
                [subheader]="nombreLower | lowercase">
                {{nombreLower | lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
                [subheader]="nombreCompleto | titlecase">
                {{nombreCompleto | titlecase}}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card >
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short' </li>
                <li>fecha | date:'long' </li>
                <li>fecha | date:'dd-MM-YYYY'</li>
                <li>fecha | date:'MMM, YYYY'</li>
            </ul>
            <hr>
            <ul>
                <li>fecha | date:'long':'GMT-6':'es-BO'</li>
                <li>fecha | date:'long':'GMT-5'</li>
                <li> fecha | date:'long':'':'fr'</li>
            </ul>
        </p-card>
  
    </div>
    <div class="col-6">
        <p-card >
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date:'short'}}</li>
                <li>{{ fecha | date:'long'}}</li>
                <li>{{ fecha | date:'dd-MM-YYYY'}}</li>
                <li>{{ fecha | date:'MMM, YYYY'}}</li>
            </ul>
            <hr>
            <ul>
                <li>{{ fecha | date:'long':'GMT-6':'es-BO'}}</li>
                <li>{{ fecha | date:'long':'GMT-5'}}</li>
                <li>{{ fecha | date:'long':'':'fr'}}</li>
            </ul>
        </p-card> 
    </div>
</div>