<!-- 
<div class="text-layout">
  <h1> {{ 'Hola mundo' }}</h1>
  <button pButton>ver contenido</button>
  <p>
  <button pButton type="button" label="Ver contenido"
  (click)="mostrarNombre()"
    icon="pi pi-apple" iconPos="right"
    class="p-button-help"></button>
   
  <h2>{{nombre}}</h2>

  <p-card [header]="nombre2 | titlecase"
    subheader="subHeader">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
  </p-card>
</div> -->

<app-menu></app-menu>
<router-outlet></router-outlet>
